.btn {
  @apply transition ease-in-out duration-300 py-2 px-4 bg-blue-600 rounded text-white font-semibold;
}

.btn:hover {
  @apply bg-blue-700;
}

.btn:focus {
  @apply outline-none;
}

.inputField {
  @apply transition ease-in-out duration-300 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.inputField:focus {
  @apply outline-none shadow-outline;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
